@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-myBG {
    background: linear-gradient(135deg, #324f65, #e6ecf0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    @apply font-mono;
}
