@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-myBG {
    background: linear-gradient(135deg, #324f65, #e6ecf0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    @apply font-mono;
}

#experience-section {
    @apply font-mono;
    display: flex;
    width: 100%;
    padding: 2rem 5rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .MuiList-root span {
        @apply font-mono text-sm;
    }

    .MuiTab-root {
        @apply font-mono;
    }
}
